.search-list{
flex-grow: 1;
}
.search-wrapper {
    height: 300px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("/images/staticmap.png");
}
.geosuggest {
    position: relative;
}
.geosuggest__input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid saddlebrown;
}
.geosuggest__input:focus{
    border: 1px solid saddlebrown;
}
.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }
  .geosuggest__suggests5 {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }
.geosuggest__suggests-wrapper{
position: absolute;
width: 100%;
z-index: 2;
}
.geosuggest__item {
    padding: 10px;
    border-top: none;
    border-right: 1px solid saddlebrown;
    border-bottom: 1px solid saddlebrown;
    border-left: 1px solid saddlebrown;
    text-align: left;
}
.geosuggest__item:hover{
    background-color:rgb(140, 168, 144,0.3);  
}
.geosuggest__item--active{
background-color:rgb(140, 168, 144);
}
.searchbox-background {
    width: 700px;
    background: antiquewhite;
    text-align: center;
}
.searchbox {
    padding: 15px;
}
.form-ul li{
    display: inline-block;
    margin-right: 10px;
    z-index: -1;
}

.remote-check{
display: flex;
justify-content: center;
padding: 20px 0 10px 0;
z-index: -1;
}
.remote-check p{
    margin-left: 10px;
}
.quick-pick{
    position: absolute;
    top: -15px;
    z-index: 2;
    padding: 5px;
    background: antiquewhite;;
    left: 42%;
}
#z-index0,.z-index0{
    z-index: 1;
}
.geosuggest__suggests{
    background: antiquewhite;
}
 .ui.toggle.checkbox label:after {
z-index:1;
}
.ui.icon.message,.ui.info.message,.ui.warning.message {
    margin:10px auto 10px auto;
    max-width: 1127px;
}
.jobs-link{
max-width: 1127px;
margin: 10px auto 10px auto;
}
.jobs-link .company-post-wrapper{
    width: 100%;
    margin-bottom: 0;
}
.sticker{
    background: #77c575;
    font-weight: 700;
    color: white;
    position: absolute;
    /* width: 90px; */
    top: 45px;
    padding-left: 30px;
    padding-right: 28px;
    left: -14px;
    transform: rotate(-44deg);
}
@media screen and (min-width: 992px) and  (max-width: 1200px){
  .jobs-link{
max-width: 933px;
}
.search-list .ui.icon.message, .search-list .ui.info.message,.search-list .ui.warning.message {
   max-width: 933px;
}
}
@media screen and (max-width: 992px) and  (min-width: 768px){
  .searchbox-background{
      width: 723px;
  }
  .jobs-link{
max-width: 723px;
}
.search-list .ui.icon.message, .search-list .ui.info.message,.search-list .ui.warning.message{
   max-width: 723px;
}
}
@media screen and (max-width:768px) {
  .searchbox-background{
      width: 80%;
  }
  .jobs-link{
max-width: 95%;
  }
  .search-list .ui.icon.message, .search-list .ui.info.message,.search-list .ui.warning.message{
   max-width: 95%;
}
.company-post{
flex-direction: column;
}
.company-post >img {
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
}